/*******************触屏版重置样式*****************/

/*reset*/
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
html{overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body,ul,dl,dd,dt,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,img,td,div,input,b,i,cite{margin:0;padding:0;border:0;outline:0;font:inherit;vertical-align:baseline;-webkit-tap-highlight-color:rgba(0,0,0,0);}
ul,ol,li{list-style-type:none}
li{vertical-align:0}
h1,h2,h3,h4,h5,h6{ font-weight:normal}
a{outline-style:none;color:#666666;text-decoration:none}
a:hover{color:#666666; text-decoration:none}
body{ background-color:#ffffff;}
body,input,select,textarea{ font-size:14px; font-family: "Microsoft Yahei";outline:none;-webkit-appearance:none;}
object,embed,video{width:100%; border:none;margin-top:3px;}
img{width:100%; border:none;margin-top:0px;display: block;}

/* initial */
.clearfix:after { visibility:hidden; display:block; font-size:0; content:""; clear:both; height:0;}
.clearfix{ *zoom:1;}
.clear{ clear:both;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.block{display: block;}
.inline{display: inline;}
.inline-block{display: inline-block;}
.none{display: none;}
.flex-row{display: -webkit-box;display: -moz-box; display: -ms-flexbox;display: -webkit-box;
display: -webkit-flex;display: -ms-flexbox;display: flex;}
.pos-relative{position: relative;}
.pos-absolute{position: absolute;}

@media (min-width:0px   ) { html { font-size: 32.00px;}}
@media (min-width:320px ) { html { font-size:40.40px;}}
@media (min-width:480px ) { html { font-size:61.73px;}}
@media (min-width:540px ) { html { font-size:69.73px;}}
@media (min-width:640px ) { html { font-size:83.06px;}}
@media (min-width:720px ) { html { font-size:93.73px;}}
@media (min-width:768px ) { html { font-size:100.00px;}}
@media (min-width:800px ) { html { font-size:100.00px;}}

.icon {
    /* 通过设置 font-size 来改变图标大小 */
    width: 1em; height: 1em;
    /* 图标和文字相邻时，垂直对齐 */
    vertical-align: -0.15em;
    /* 通过设置 color 来改变 SVG 的颜色/fill */
    fill: currentColor;
    /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
        normalize.css 中也包含这行 */
    overflow: hidden;
    }

/*style*/
body{background: #292929}
.header .header-con{height:0.82rem;background: #6e5801; filter: Alpha(opacity=10); -moz-opacity:0.1; opacity:0.1;}
.header .line{height: 1px;width: 100%;background: #e1b406}

.cover img{width: 2rem;margin: 0 auto;}

.intro_brif h1{font-size: .8rem;color: #e1b406;text-align: center;font-weight: bold;text-shadow: 1px 2px #a49662, 2px 4px #aee2d9;}
.intro_brif .subtitle{color: #e0d7b5; font-size: .3rem; text-align: center;}
.intro_brif .work{font-size: .35rem; text-align: center; color: #e2c96a; font-weight: 800;}
.contact{width: 3.5rem;margin: 0.2rem auto auto;}
.contact .row{margin-top: .02rem;}
.contact .icon{font-size: .3rem;margin-right: 0.06rem;}
.contact span{font-size: .3rem;color: #e5dbb7;text-align: right;}
.contact .icon.tel{color:#22c3aa;}
.contact .icon.email{color:#2297c3;}