/*******************è§¦å±ç‰ˆé‡ç½®æ ·å¼*****************/

/*reset*/
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
html{overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body,ul,dl,dd,dt,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,img,td,div,input,b,i,cite{margin:0;padding:0;border:0;outline:0;font:inherit;vertical-align:baseline;-webkit-tap-highlight-color:rgba(0,0,0,0);}
ul,ol,li{list-style-type:none}
li{vertical-align:0}
h1,h2,h3,h4,h5,h6{ font-weight:normal}
a{outline-style:none;color:#666666;text-decoration:none}
a:hover{color:#666666; text-decoration:none}
body{ background-color:#ffffff;}
body,input,select,textarea{ font-size:14px; font-family: "Microsoft Yahei";outline:none;-webkit-appearance:none;}
object,embed,video{width:100%; border:none;margin-top:3px;}
img{width:100%; border:none;margin-top:0px;display: block;}

/* initial */
.clearfix:after { visibility:hidden; display:block; font-size:0; content:""; clear:both; height:0;}
.clearfix{ *zoom:1;}
.clear{ clear:both;}
.fl{ float:left; display:inline;}
.fr{ float:right; display:inline;}
.block{display: block;}
.inline{display: inline;}
.inline-block{display: inline-block;}
.none{display: none;}
.flex-row{display: -webkit-box;display: -moz-box; display: -ms-flexbox;display: -webkit-box;
display: -webkit-flex;display: -ms-flexbox;display: flex;}
.pos-relative{position: relative;}
.pos-absolute{position: absolute;}

@media (min-width:0px   ) { html { font-size: 32.00px;}}
@media (min-width:320px ) { html { font-size:40.40px;}}
@media (min-width:480px ) { html { font-size:61.73px;}}
@media (min-width:540px ) { html { font-size:69.73px;}}
@media (min-width:640px ) { html { font-size:83.06px;}}
@media (min-width:720px ) { html { font-size:93.73px;}}
@media (min-width:768px ) { html { font-size:100.00px;}}
@media (min-width:800px ) { html { font-size:100.00px;}}

.icon {
    /* é€šè¿‡è®¾ç½® font-size æ¥æ”¹å˜å›¾æ ‡å¤§å° */
    width: 1em; height: 1em;
    /* å›¾æ ‡å’Œæ–‡å­—ç›¸é‚»æ—¶ï¼Œåž‚ç›´å¯¹é½ */
    vertical-align: -0.15em;
    /* é€šè¿‡è®¾ç½® color æ¥æ”¹å˜ SVG çš„é¢œè‰²/fill */
    fill: currentColor;
    /* path å’Œ stroke æº¢å‡º viewBox éƒ¨åˆ†åœ¨ IE ä¸‹ä¼šæ˜¾ç¤º
        normalize.css ä¸­ä¹ŸåŒ…å«è¿™è¡Œ */
    overflow: hidden;
    }

/*style*/
body{background: #292929}
.header .header-con{height:0.82rem;background: #6e5801; filter: Alpha(opacity=10); -moz-opacity:0.1; opacity:0.1;}
.header .line{height: 1px;width: 100%;background: #e1b406}

.cover img{width: 4rem;margin: 0 auto;}

.intro_brif h1{font-size: 1rem;color: #e1b406;text-align: center;font-weight: bold;text-shadow: 1px 2px #a49662, 2px 4px #aee2d9;}
.intro_brif .subtitle{color: #e0d7b5;font-size: .42rem;text-align: center;}
.intro_brif .work{font-size: .68rem;text-align: center;color: #e2c96a;font-weight: 800;}
.contact{width: 4.8rem;margin: 0.1rem auto auto;font-size: .42rem;}
.contact .row{margin-top: .1rem;}
.contact .icon{margin-right: 0.06rem;}
.contact span{color: #e5dbb7;}
.contact .icon.tel{color:#22c3aa;}
.contact .icon.email{color:#2297c3;}
.avatar{width: 3rem;height: 3rem;background: #d2bb64;border-radius: 50%;margin: 0 auto;}